@using ProjWeb.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/home/index" class="navbar-brand">HOME</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        User visitor = (User)Session["visitor"];

                        if (visitor != null)
                        {
                            <li><a href="~/users/Profile">PROFILE</a></li>
                            <li><a href="~/users/logout">LOGOUT</a></li>
                            if (visitor.role.Equals(role.owner))
                            {
                                <li><a href="~/users/showTrainer">ADD TRAINER</a></li>
                            }
                        }
                        else
                        {
                            <li><a href="~/users/RegView">REGISTER</a></li>
                            <li><a href="~/users/LogView">LOGIN</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
