@using ProjWeb.Models
@model FitnessCenter
@{
    /**/

    ViewBag.Title = "Fitness";
}

<h2>Fitness</h2>

<h3>@Model.name</h3>
<h3>@Model.address</h3>
<h3>@Model.owner.name</h3>
<h3>@Model.openingYear</h3>
<h3>@Model.priceGroupTraining</h3>
<h3>@Model.priceMonth</h3>
<h3>@Model.pricePersonalTraining</h3>
<h3>@Model.priceTraining</h3>
<h3>@Model.priceYear</h3>